body {
    margin: 0;
    padding: 24px;
    display: flex;
    background: var(--white-2, #F4F4F4);
    gap: 38px;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 38px;
}

.section-top-1 {
    display: flex;
    justify-content: space-between; /* Distribui os itens ao longo do contêiner com espaçamento igual entre eles */
    gap: 24px;
}

.letreiro-welcome {
    gap: 1px;
    display: flex;
    flex-direction: column;
    align-items: star;
    justify-content: center;
}

.bd-txt-welcome{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 18px;
}

.tt-welcome {
    margin: 0;
    color: var(--black-1, #121212);
    font-family: Arsenica Trial;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tt-welcome-full {
    margin: 0;
    color: var(--white-1, #FFF);
    font-family: Arsenica Trial;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: inline-flex;
    height: 54px;
    padding: 0px 12px 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background: var(--primary-color-2, #A07BFC);
}

.tt-p {
    width: 100%;

    padding-top: 6px;
    color: var(--black-150, rgba(18, 18, 18, 0.50));
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.ProfileBanner {
    width: 140px;
}

.user-div {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 28px;
    border-radius: 28px;
    background: var(--primary-color-220, rgba(160, 123, 252, 0.20));
}

.txt-banner-user {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.p {
    margin: 0;
    color: var(--black-1, #121212);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h1 {
    margin: 0;
    color: var(--black-1, #121212);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button_dashboard {
    color: var(--black-1, #121212);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    justify-content: center;
    height: 64px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;

    border-radius: 100px;
    background: var(--white-1, #FFF);
}

.social-div {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 50%;
}


.social-box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    padding: 28px;

    border-radius: 28px;
    background: var(--primary-color-220, rgba(160, 123, 252, 0.20));
} 

.box-dados {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.dados {
    margin: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    padding: 8px 14px;

    border-radius: 59.459px;
    border: 2px solid var(--black-1, #121212);

    color: var(--black-1, #121212);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.metrics-dados {
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--green-1, #318224);
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.p-box {
    color: var(--black-130, rgba(18, 18, 18, 0.30));
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.money-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.txt-valor {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.date {
    color: var(--black-150, rgba(18, 18, 18, 0.50));
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.h1-valor {
    margin: 0;
    color: var(--black-1, #121212);
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.txt-p {
    color: var(--black-1, #121212);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.transi-- {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tranasi- {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.transacions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 18px;
}

.txt-dados-transi {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.box-transi {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

@media (max-width: 1150px) {
    .section-top-1 {
        flex-wrap: wrap;
    }
    .user-div {
        width: 40%;
    }
    .money-div {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .box-transi {
        flex-direction: row;
        justify-content: space-between;
    }
    .transi-- {
        gap: 24px;
    }
}

@media (max-width: 1150px) {
    .user-div {
        width: 100%;
        gap: 24px;
        flex-direction: row;
        display: flex;
        
    }
    .button_dashboard {
        width: 50%;
        height: 100%;
        border-radius: 40px;
        font-size: 18px;
    }
    .social-div {
        display: flex;
    }
    .social-div {
        flex-direction: row;
        width: 100%;
    }
    .social-box-top {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
}

@media (max-width: 894px) {
    .user-div {
        flex-direction: column;
        align-items: center;
    }
    .button_dashboard {
        width: 100%;
    }
    .social-div {
        flex-direction: column;
    }
    .social-box-top {
        flex-direction: row;
        align-items: center;
        width: 90%;
    }
    .money-div {
        flex-direction: column;
    }
}

@media (max-width: 730px) {
    .box-transi {
        flex-direction: column;
    }
    .user-div {
        width: 100%;
    }
}
