body {
    background: var(--white-2, #F4F4F4);
    padding: 48px;
    
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-left: 168px;
}

.app {
    display: flex;
    align-items: start;
    justify-content: start;
}

.navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 24px 24px 32px 24px;
    gap: 67px;
    margin-right: 84px;

    border-radius: 20px;
    background: var(--white-1, #FFF);
}

.itens-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

.letreiro-welcome {
    gap: 1px;
    display: flex;
    flex-direction: column;
    align-items: star;
    justify-content: center;
    width: 650px;

    margin-bottom: 48px;
}

.bd-txt-welcome{
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 48px;
}

.tt-welcome {
    margin: 0;
    color: var(--black-1, #121212);
    font-family: Arsenica Trial;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tt-welcome-full {
    margin: 0;
    color: var(--white-1, #FFF);
    font-family: Arsenica Trial;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: inline-flex;
    height: 54px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background: var(--primary-color-2, #A07BFC);
}

.tt-p {
    width: 100%;

    padding-top: 6px;
    color: var(--black-150, rgba(18, 18, 18, 0.50));
    font-family: Gopher;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.section-user {
    display: inline-flex;
    padding: 49px 28px 28px 28px;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    border-radius: 28px;
    background: var(--primary-color-220, rgba(160, 123, 252, 0.20));
}

.name-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.h3-profile {
    margin: 0;
    color: var(--black-1, #121212);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h1-profile-name {
    margin: 0;
    color: var(--black-1, #121212);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button_campanha {
    color: var(--black-1, #121212);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    display: flex;
    width: 240px;
    height: 38px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    background: var(--white-1, #FFF);
}

.section-top {
    display: flex;
    gap: 34px;
}

.face-insta {
    display: flex;
    gap: 24px;
}

.box-social-facebook {
    display: flex;
    height: 212px;
    padding: 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;

    border-radius: 28px;
    background: var(--primary-color-220, rgba(160, 123, 252, 0.20));
}

.box-social-instagram {
    display: flex;
    height: 212px;
    padding: 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;

    border-radius: 28px;
    background: var(--pink-20, rgba(251, 172, 253, 0.20));
}

.box-social-youtube {
    display: flex;
    padding: 34px;
    align-items: center;
    gap: 23px;
    height: 100%;

    border-radius: 28px;
    background: var(--blue-20, rgba(155, 193, 253, 0.20));
}

.metrics {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 42px;
    display: flex;
    padding: 0px 18px;
    gap: 12px;

    border-radius: 59.459px;
    border: 2px solid var(--black-1, #121212);
}

.valor-porcento {
    margin: 0;
    color: var(--black-1, #121212);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.dados {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.valor-metrica-social {
    margin: 0;
    color: var(--green-1, #318224);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.descri-social-box {
    margin: 0;
    color: var(--black-130, rgba(18, 18, 18, 0.30));
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.social-metrics {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.H1-valor-resultado {
    margin: 0;
    color: var(--black-1, #121212);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.date {
    margin: 0;
    color: var(--black-150, rgba(18, 18, 18, 0.50));
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.valor-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hj-data {
    color: var(--black-1, #121212);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.transactions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.transcaion {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.especifi- {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.name-pagador {
    color: var(--black-1, #121212);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.codigo-pagador {
    margin: 0;
    color: var(--black-150, rgba(18, 18, 18, 0.50));
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.name- {
    gap:12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-transation {
    color: var(--white-1, #FFF);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    display: flex;
    width: 55px;
    height: 29px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 100px;
    background: var(--primary-color-2, #A07BFC);
}


.button-more-results {
    color: var(--primary-color-2, #A07BFC);
    text-align: center;
    font-size: 14px;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    border-radius: 100px;
    background: var(--primary-color-220, rgba(160, 123, 252, 0.20));
}